<div class="app-content">
    <div class="left">
        <div class="img-container">
            <img src="/img/main.png" alt="" class="mainImg">
        </div>
        <mat-tab-group>
            <mat-tab [label]="'Equipment' | translate"> <app-equipment></app-equipment> </mat-tab>
            <mat-tab [label]="'Features'|translate"> {{'Features'|translate}} </mat-tab>
            <mat-tab [label]="'Need to know'|translate"> {{'Need to know'|translate}} </mat-tab>
            <mat-tab [label]="'Location'|translate"> {{'Location'|translate}} </mat-tab>
            <mat-tab [label]="'Parking'|translate"> {{'Parking'|translate}} </mat-tab>
        </mat-tab-group>
    </div>

    <div class="right">
        <div class="studio9">
        <div class="title flexBetween">
            <div class="title-content">
                <h3>{{'STUDIO 9'|translate}}</h3>
                <p>{{'DJ Standard'|translate}}</p>
            </div>
            <div class="title-badge">
                <mat-icon fontIcon="person"></mat-icon><span>3</span>
            </div>
        </div>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Day of the trip </mat-panel-title>
              <mat-panel-description>
                Inform the date you wish to travel
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly />
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>
          </mat-expansion-panel>

        <p>{{'Friday 14 February 2025'|translate}}</p>
        <div class="datetime flexBetween">
            <p>{{'DJ Standard'|translate}}</p>
            <a href="#">{{'Edit'|translate}}</a>


        </div>

        <p>{{'Payment breakdown'|translate}}</p>
        <div class="flexBetween">
            <p>{{'DJ Standard (3 Hours)'|translate}}</p>
            <p>£35.10</p>
        </div>
        <div class="flexBetween">
            <h4>{{'TOTAL'|translate}}</h4>
            <h4>£35.10</h4>
        </div>

        <button mat-raised-button disabled class="btnTime">{{'TIME NOTAVAULABLE'|translate}}</button>
        </div>
        <div class="payment">
            <div class="flexCenter">
                <p>{{'We accept'|translate}}</p>
            </div>
            <div class="payMethods flexCenter">
                <img src="/img/visa.png" alt="">
                <img src="/img/pay2.png" alt="">
                <img src="/img/ae.png" alt="">
                <img src="/img/pay3.png" alt="">
                <img src="/img/pay4.png" alt="">
            </div>
            <div class="flexCenter">
                <button mat-stroked-button>{{'Powered by stripe'|translate}}</button>
            </div>
        </div>
    </div>
</div>